<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <title>SUMTRANSIT BICH</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
</head>

<body>
  <header>


    <div class="Navbar">
      <a href="{% url 'home' %}" class="thakna">
        <div style="display: flex; align-items: center;" class="sumtran">
          <p style="font-size: 40px;margin-left: 20px;">SumTransit</p>
      </a>
    </div>
    <div style="display: flex; align-items: center; margin-left: auto;" class="basic_nav">
      <div class="lang"><i class="fa-solid fa-globe"></i>
        <p>EN<i class="fa-solid fa-caret-down" style="margin-left: 10px;"></i>
      </div>

      {% if user.is_authenticated %}
      <!-- If the user is logged in, show the Logout option -->


      <a href="{% url 'logout' %}" class="thakna" style="color: hsl(0, 0%, 100%);">
        <div class="log_in_nav "
          style="display: flex;align-items: center;align-self: center;height: fit-content;margin-right: 10px;">
          <p>Logout</p>
        </div>
      </a>
      {% if profile_pic and user.user_type == 'Driver'%}
      <a href="{% url 'driver_dashboard' %}"><img class="profile_pic_das" src="{{profile_pic}}" style="object-fit: contain;"></a>
      {% elif profile_pic %}
      <a href="{% url 'customer_dashboard' %}"><img class="profile_pic_das" src="{{profile_pic}}" style="object-fit: contain;"></a>
      {% endif %}


      {% else %}
      <a href="{% url 'loginsuggest' %}" class="thakna" style="color: hsl(0, 0%, 100%);">
        <div class="log_in_nav" href="{% url 'suggest_page' %}">
          <p>Log In</p>
        </div>
      </a>
      <a href="{% url 'suggest_page' %}" class="thakna" style="color: black;">
        <div class="sign_up_nav">
          <p>Sign Up</p>
        </div>
      </a>
      {% endif %}
    </div>
    </div>

    <div class="Navbar-2"
      style="display:flex; align-items:center; background-color:rgba(45, 45, 95, 0.876); color:aliceblue;">
      <i class="fa-solid fa-bars" style="margin-left:40px; margin-right:20px;font-size: 30px;color: rgba(53, 53, 109, 0.876);"></i>
      {% if user.is_authenticated and user.user_type == 'Driver' %}
      <a href="{% url 'home' %}" class="thakna">
        <div class="sub_nav">
          <i class="fa-solid fa-house"></i>
          <p>Home</p>
        </div>
      </a>
      <a href="{% url 'pending_car_booking' %}" class="thakna">
        <div class="Navbar-2-vitor sub_nav " style="display:flex; align-items:center;">
          <i class="fa-regular fa-clock" style="color: #f7f7f7;"></i>
          <p>Pending Rides</p><i class="fa-solid fa-caret-down" style="margin-left: 5px;"></i>
        </div>
      </a>
      <a href="{% url 'confirm_car_booking' %}" class="thakna">
        <div class="sub_nav"><i class="fa-regular fa-address-card" style="color: #ffffff;"></i>
          <p>Ride Bookings</p><i class="fa-solid fa-caret-down" style="margin-left: 5px;"></i>
        </div>
      </a>
      <a href="{% url 'deals' %}" class="thakna">
        <div class="sub_nav"><i class="fa-brands fa-shopify" style="color: #ffffff;"></i>
          <p>Commission</p>
        </div>
      {% elif user.is_authenticated %}
      <a href="{% url 'home' %}" class="thakna">
        <div class="sub_nav">
          <i class="fa-solid fa-house"></i>
          <p>Home</p>
        </div>
      </a>
      <a href="{% url 'services' %}" class="thakna">
        <div class="Navbar-2-vitor sub_nav " style="display:flex; align-items:center;">
          <i class="fa-solid fa-taxi" style="color: #f7f7f7;"></i>
          <p>Services</p><i class="fa-solid fa-caret-down" style="margin-left: 5px;"></i>
        </div>
      </a>
      <a href="{% url 'testdashboard' %}" class="thakna">
        <div class="sub_nav"><i class="fa-regular fa-address-card" style="color: #ffffff;"></i>
          <p>Bookings</p><i class="fa-solid fa-caret-down" style="margin-left: 5px;"></i>
        </div>
      </a>
      <a href="{% url 'deals' %}" class="thakna">
        <div class="sub_nav"><i class="fa-brands fa-shopify" style="color: #ffffff;"></i>
          <p>Deals</p>
        </div>
      {% else %}
      <a href="{% url 'home' %}" class="thakna">
        <div class="sub_nav">
          <i class="fa-solid fa-house"></i>
          <p>Home</p>
        </div>
      </a>
      <a href="{% url 'services' %}" class="thakna">
        <div class="Navbar-2-vitor sub_nav " style="display:flex; align-items:center;">
          <i class="fa-solid fa-taxi" style="color: #f7f7f7;"></i>
          <p>Services</p><i class="fa-solid fa-caret-down" style="margin-left: 5px;"></i>
        </div>
      </a>
      <a href="{% url 'car_registration' %}" class="thakna">
        <div class="sub_nav"><i class="fa-regular fa-address-card" style="color: #ffffff;"></i>
          <p>Employment</p><i class="fa-solid fa-caret-down" style="margin-left: 5px;"></i>
        </div>
      </a>
      <a href="{% url 'deals' %}" class="thakna">
        <div class="sub_nav"><i class="fa-brands fa-shopify" style="color: #ffffff;"></i>
          <p>Deals</p>
        </div>
        {% endif %}
      </a>
      <a href="{% url 'help' %}" class="thakna">
        <div class="sub_nav"><i class="fa-solid fa-info" style="color: #ffffff;"></i>
          <p>Help</p>
        </div>
      </a>
      <div class="sub_nav"><i class="fa-brands fa-blogger" style="color: #ffffff;"></i>
        <p>Vlog</p>
      </div>
    </div>
    </div>
  </header>

  {% block content %}

  {% endblock %}

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>Platform</h4>
          <ul>
            <li><a href="#">SumTransit Car</a></li>
            <li><a href="#">SumTransit Bike</a></li>
            <li><a href="#">SumTransit Truck</a></li>
            <li><a href="#">SumTransit Plane</a></li>
            <li><a href="#">SumTransit Ship</a></li>
            <li><a href="#">SumTransit Parcel</a></li>
            <li><a href="#">SumTransit Courier</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Earn 'autopass'</h4>
          <ul>
            <li><a href="{% url 'car_registration' %}" class="thakna">Earn With Car</a></li>
            <li><a href="{% url 'bike_registration' %}" class="thakna">Earn With Bike</a></li>
            <li><a href="{% url 'bicycle_registration' %}" class="thakna">Earn With Cycle</a></li>
            <li><a href="#">Earn With 10 Truck</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Merchant</h4>
          <ul>
            <li><a href="#">Courier Merchant Sign-up</a></li>
            <li><a href="#">Courier Merchant Login</a></li>
            <li><a href="#">Car Admiral Login</a></li>
            <li><a href="#">Resto Merchant Sign-up</a></li>
            <li><a href="#">Resto Merchant Login</a></li>

          </ul>
        </div>
        <div class="footer-col">
          <h4>Help</h4>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Walk in Support Centers</a></li>
            <li><a href="{% url 'help' %}" class="thakna">User Help Centers</a></li>
            <li><a href="{% url 'help' %}" class="thakna">Rider Help Center</a></li>
            <li><a href="{% url 'help' %}" class="thakna">Merchant Help Center</a></li>
            <li><a href="#">Live Chat for Driver/Foodman</a></li>
            <li><a href="#">Helpline +7847347823</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="{% static 'website/js/app.js' %}"></script>
</body>
</html>