{% extends 'base.html' %}
{% load static %}
{% block content %}

<div style="align-items: center;display: flex;flex-direction: column;">
    <h1 class="dealsheader">Rides Completed</h1>
    <ul>
        {% for complete in completed %}
        <li>
            <div class="dealsbox">
                <div style="display: flex;justify-content: center;align-items: center;">
                    {% if complete.customer_prof %}
                    <div style="margin-right: 20px;">
                        <img src="{{ booking.customer_prof.url }}" alt="Driver Profile" style="width: 100px;height: 100px;object-fit: cover;border-radius: 50px; 
      border: #f7f7f7 1px solid; ">
                        {% else %}
                        <img src="{% static 'website/images/profile.jpg' %}" alt="Default Profile"
                            style="width: 100px;height: 100px;">
                        {% endif %}
                    </div>

                    <div style="display: flex;flex-direction: column;width: 60%;" class="dealsdes">
                        <p><b>Name: </b>{{ complete.name }}</p>
                        <p><b>Phone: </b>{{ complete.phone_number }}</p>
                    </div>
                <div class="dealsdes" style="display: flex;flex-direction: column;">
                    <p><b>Pickup Location: </b>{{ complete.pickup_location }}</p>
                    <p><b>Dropoff Location: </b>{{ complete.dropoff_location }}</p>
                    <p><b>Pickup: </b>{{ complete.pickup_date }} {{ complete.pickup_time }}</p>
                    <p><b>Dropoff: </b>{{ complete.dropoff_date }} {{ complete.dropoff_time }}</p>
                </div>
                <div class="dealsdes">
                    <p> Completed
                    <p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<style>
    .dealsdes p{
        font-size: 20px;
          }
        </style>
{% endblock %}

