{% extends 'base.html' %}
{% load static %}
{% block content %} 

<div style="align-items: center;display: flex;flex-direction: column;">
    <h1 class="dealsheader">Booking Section</h1>
    <ul>
        {% for pending in pendings %}
        <li>
            <div class="dealsbox">
                <h3 class="dealstitle">{{ pending.name }}</h3>
                <p class="dealsdes"><b>Phone Number: </b>{{ pending.phone_number }}</p>
                <p class="dealsdes"><b>Pickup Location: </b>{{ pending.pickup_location }}</p>
                <p class="dealsdes"><b>Dropoff Location: </b>{{ pending.dropoff_location }}</p>
                <a href="{% url 'accept_booking' pending.id %}" class="thakna">
                    <div class="claimd"><p> Accept <p></div>
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}