{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="justtoalign" >
    {% if error %}
    <div class="error">{{ error }}</div>
    {% endif %}

    <div class="justtoalign">
        <div class="containersu" style="margin-top:20px;width: 500px;">
            <div class="logo">
                <h1>SumTransit</h1>
                <h2>Rider Sign-Up<h2>
            </div>
            <div class="login-box" style="margin-top: 20px;">
                <h2>Enter your required information:</h2>
                <form method="POST" action="{% url 'customer_signup' %}">
                    {% csrf_token %}
                    <p style="text-align: left;">Username: </p>
                    <input type="text" name="username" placeholder="Enter your username" required>
                    <div class="loca" style="text-align: left;">
                        <div style="width: 45%;display: flex;flex-direction: column;margin-right: 5%;">
                            <p>First Name: </p>
                            <input type="text" name="firstname" placeholder="Enter First Name" style="width: 100%;"
                                required>
                        </div>

                        <div style="width: 45%;display: flex;flex-direction: column;justify-self: end;">
                            <p>Last Name: </p><input type="text" name="lastname" placeholder="Enter Last Name"
                                style="width: 100%;" required>
                        </div>
                    </div>
                    <div class="loca">
                        <p style="text-align: left;">Email: </p>
                        <input type="email" name="email" placeholder="Enter Email" required >
                    </div>
                    <div class="loca">
                        <div id="district" class="magic" style="margin-right: 10px;">
                            <p style="text-align: left;">Gender</p>
                            <select name="gender" required>
                                {% for gender,label in genders%}
                                <option value="{{ gender }}">{{ gender }}</option>
                                {% endfor %}
                              </select>
                        </div>
                        <div id="pnumber" class="magic" >
                            <p style="text-align: left;" >Enter your number</p>
                            <input name="phonenumber" placeholder="01XXXXXXXXX">
                        </div>
                    </div>
                    <div id="country">
                        <p style="text-align: left;">Password: </p>
                        <input type="password" name="password1" placeholder="Enter your password" required>
                        <p style="text-align: left;">Confirm Password: </p>
                        <input type="password" name="password2" placeholder="Enter your password" required>
                        <button type="submit" class="btn">Continue</button>
                    </div>
                </form>
                <div class="divider"><span>or</span></div>

                <button class="btn google-btn">
                    <i class="fa-brands fa-apple" style="margin-right:5px; font-size:20px"></i>Continue with Google
                </button>
                <button class="btn apple-btn">
                    <i class="fa-brands fa-google" style="margin-right:5px;"></i>Continue with Apple
                </button>
                <div class="divider"><span>or</span></div>
                <button class="btn qr-btn">
                    <i class="fa-solid fa-qrcode" style="margin-right:5px;"></i> Log in with QR code
                </button>
            </div>
            <p class="terms">
                By proceeding, you consent to get calls, WhatsApp or SMS/RCS messages, including by automated means,
                from Uber and its affiliates to the number provided.
            </p>
        </div>
    </div>
    </body>

    </html>
    <style>
    .magic{
        width: 47%;
        display: flex;
        flex-direction: column;
        justify-self: end;
    }
    .magic input,.magic select{
        padding: 10px 0;
    margin: 5px 0 15px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    } 
    .login-box input{
    padding: 10px 0;
    margin: 5px 0 15px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    padding-left: 10px;
padding-left: 10px;
    }
    </style>
    {% endblock %}