{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="justtoalign" style="display: flex;flex-direction: column;align-items: center;">
    {% if error %}
    <div class="error">{{ error }}</div>
    {% endif %}

    <div class="justtoalign">
        <div class="containersu" style="margin-top:20px;width: 500px;">
            <div class="logo">
                <h1>SumTransit</h1>
                <h2>Rider Sign-Up<h2>
            </div>
            <div class="login-box magic" style="margin-top: 20px;">
                <h2>Enter your required information:</h2>
                <form method="POST" action="{% url 'customer_signup' %}">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Enter your username" required>
                    <div class="loca" style="text-align: left;">
                        <div style="width: 45%;display: flex;flex-direction: column;margin-right: 5%;">
                            <p>First Name: </p>
                            <input type="text" name="firstname" placeholder="Enter First Name" style="width: 100%;"
                                required>
                        </div>

                        <div style="width: 45%;display: flex;flex-direction: column;justify-self: end;">
                            <p>Last Name: </p><input type="text" name="lastname" placeholder="Enter Last Name"
                                style="width: 100%;" required>
                        </div>
                    </div>
                    <div class="loca">
                        <input type="email" name="email" placeholder="Enter Email" required>
                    </div>
                    <div class="loca">
                        <div id="district">
                            <p>Gender</p>
                            <select name="gender">
                                {% for gender, label in genders %}
                                <option value="{{ gender }}">{{ gender }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="pnumber">
                            <p>Enter your number</p>
                            <input name="phonenumber" placeholder="01XXXXXXXXX">
                        </div>
                    </div>
                    <div id="country">
                        <input type="password" name="password1" placeholder="Enter your password" required>
                        <input type="password" name="password2" placeholder="Enter your password" required>
                        <button type="submit" class="btn">Continue</button>
                    </div>
                </form>
                <div class="divider"><span>or</span></div>

                <button class="btn google-btn">
                    <i class="fa-brands fa-apple" style="margin-right:5px; font-size:20px"></i>Continue with Google
                </button>
                <button class="btn apple-btn">
                    <i class="fa-brands fa-google" style="margin-right:5px;"></i>Continue with Apple
                </button>
                <div class="divider"><span>or</span></div>
                <button class="btn qr-btn">
                    <i class="fa-solid fa-qrcode" style="margin-right:5px;"></i> Log in with QR code
                </button>
            </div>
            <p class="terms">
                By proceeding, you consent to get calls, WhatsApp or SMS/RCS messages, including by automated means,
                from Uber and its affiliates to the number provided.
            </p>
        </div>
    </div>
    </body>

    </html>
    {% endblock %}