{% extends 'base.html' %}
{% load static %}
{% block content %}

<div style="align-items: center;display: flex;flex-direction: column;">
  <h1 class="dealsheader">Booking Section</h1>
  <ul>
    {% for booking in bookings %}
    <li>
      <div class="dealsbox">
        <p class="dealsdes"><b>Pickup Location: </b>{{ booking.pickup_location }}</p>
        <p class="dealsdes"><b>Dropoff Location: </b>{{ booking.dropoff_location }}</p>
        <p class="dealsdes"><b>Pickup: </b>{{ booking.pickup_date }} {{ booking.pickup_time }}</p>
        <p class="dealsdes"><b>Dropoff: </b>{{ booking.dropoff_date }} {{ booking.dropoff_time }}</p>
        <p class="dealsdes"><b>Status: </b>{{booking.status}}</p>
        {% if not booking.status == "Pending" %}

        <h3 class="dealstitle">Accepted By:</h3>
        <div style="display: flex;justify-content: center;align-items: center;">
          {% if booking.driver_prof %}
          <div style="margin-right: 20px;">
            <img src="{{ booking.driver_prof.url }}" alt="Driver Profile" style="width: 150px;height: 150px;object-fit: cover;border-radius: 50px; 
    border: #f7f7f7 1px solid; ">
            {% else %}
            <img src="{% static 'images/profilepic/profile.jpg' %}" alt="Default Profile"
              style="width: 200px;height: 200px;">
            {% endif %}
          </div>

          <div style="display: flex;flex-direction: column;width: 80%;">
            <p class="dealsdes"><b>Name: </b>{{ booking.driver_name }}</p>
            <p class="dealsdes"><b>Phone: </b>{{ booking.driver_phone_number }}</p>
          </div>
        </div>{% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>


{% if not bookings %}
<p>No bookings yet!</p>
{% endif %}
{% endblock %}